<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
<link rel="icon" type="image/png" href="http://schorrmedia.com/favicon.png">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<style>
h4 {
     color: #003399;
     font-family:"Arial", "Helvetica Neue", Helvetica, sans-serif;
     font-weight: 700;
     padding-left: 4em;
    }
</style>



<script>

function finddone(ur)    {
    var xhr = new XMLHttpRequest() ;
    xhr.open("HEAD", ur, false);
    xhr.send();
    if (xhr.status == "404")
    {
    return false;
    }
    else {
       return true;
    }}

function cdf(){
    var df = '{{ name }}';
    var rel=finddone(df);
    if (rel==true)
    {
        display(df);
        clearInterval(nIntervId);
    }}

 function doit()
 { nIntervId = setInterval(cdf, 2000);}

</script>

<title>LinkCheck Results</title>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
    doit();
});

$.mjs = function(df) {
    var df = '{{ name }}';
    $( "#content" ).load(df );
};

function display() {
$.mjs();
};

</script>

</head>

<body>



<div id="content" style="padding-top:2em; padding-bottom:2em; ">
    <h4 style="font-style: italic;">Your results are almost ready . . . </h4></div>


</body>
<head>
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>
</html>