<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">

<html lang="en-US" style=" background: #f1f1f1!important; padding: 1rem;">
<head profile="https://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="https://www.fastgalaxy.com/static/favicon.png">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet href="../static/style.css">
<link rel=stylesheet href="https://www.fastgalaxy.com/static/style.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yantramanav:800" rel="stylesheet">
<title>&emsp;LinkCheck</title>
<style>

#container {
  height: 170px;
    width: 100%;
  position: relative;
}

#image {
    z-index=-1;
  position: absolute;
height: 160px;
width: 100%;
}

#logo {
    z-index=7;
    position: absolute;
    height: 47px;
    width: 200px;
    padding-left:5px;
    padding-top:5px;
}

#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 1.9em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
   text-shadow: 1px 1px 1px grey;
  padding-left: 9em;
  text-align: center;

 .bcentered {
    position: absolute;
    bottom: 8px;
    left: 6em;
}



</style>
</head>

<body>


<div style="border-width: 2em; border-style: solid; border-color:white; z-index:-2; ">   <!--main area --->

<div id="container" style="background: linear-gradient(to bottom right, #ebfafa 10%, #165555 100%); z-index:1;" >
  <img id="logo" src="https://www.fastgalaxy.com/static/cooltextLogoSmedia-300x71.gif" />

    <p></p>
  <p id="text" >
    Welcome to LinkCheck
  </p>
</div>

</div>


<div style="text-align: right; font-family: Roboto, sans-serif;  font-size: 12pt;
    font-style:bold; color: #4d7f80; padding-top:2em;padding-right:2em; ">
    This app is not meant for large websites.  <br>
    The larger the website - the longer it will take.<br> &emsp;<br>
</div>


<form action="indexn" method ="POST" >
<div style="font-family: Roboto, sans-serif;
     font-style: bold; padding-left: 2em; padding-top: .5em; color:#4d7f80 ;">
Enter website or webpage<br>
you want to check <br>
    for broken links <br>
(no http prefix needed) https://
<input type="text" size="55" name="name"><br>
</div><div style="padding-left:20em;  padding-top:10px;padding-bottom:6px;">

<input type="submit" value="Submit" style="min-width:15em; background-color:#2ec2c2;
       color: white; padding: 9px 24px; font-size: 16px;
        font-style: strong; border-radius:12px;">

    </div>
</form>


<div style="padding-left:4em; padding-top:2em; color:#4d7f80;
           font-family: Montserrat, sans-serif;font-size:16px;  font-weight:700;" >

    If you're here just to try LinkCheck, <br>you can copy and paste one of these links:<br></div>
<div  style="padding-left: 34em; color: #4d7f80; padding-top:.5em; z-index:93; font-family:
    Roboto, sans-serif; font-size:14px; ">
    schorrmedia.com/m.html<br>
        astrology1234.com<br></h4>
<br>
</div>


<div style="text-align:left;  font-style:italic; font-size: 92%; color:dimgrey; padding-left:2em; font-weight:700;">
    Only errors 400, 404, 408, 409 are reported.
</div>
<p> &nbsp; </p><p>   &nbsp;</p>


</body>
<head>
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
</head>

</html>
