<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en-US">
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="http://schorrmedia.com/favicon.png">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
<link rel=stylesheet href="./static/style.css">


<title>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &ensp;&ensp;&emsp;&emsp;&emsp;&emsp;&ensp;Welcome to LinkCheck</title>

</head>

<body>

<h1 style="text-align:center; padding-top:1em;">
Welcome to LinkCheck</h1>

<div style="text-align:center; font-size: 14pt; font-style:bold; color: #377ba8;">
    This app is not meant for large websites.  <br>
    The larger the website the longer it takes.<br> &emsp;<br>
</div>


<form action="indexn" method ="POST" >
<div style="padding-left:5em;padding-top:2em;">
Enter website or webpage<br>
you want to LinkCheck here<br>
(no http prefix needed)  http://
<input type="text" size="55" name="name"><br>
</div><div style="padding-left:25em;  padding-top:10px;padding-bottom:6px;">

<input type="submit" value="Submit" style="min-width:15em; background-color:#48B8C6;
       color: white; padding: 9px 24px; font-size: 16px;
        font-style: strong; border-radius:12px;">

    </div>
</form>


<div style="padding-left:12em; padding-top:2em; color:#377ba8;" >

    If you're here just to see LinkCheck, <br>you can copy and paste one of these links:<br></div>
<div  style="padding-left:20em; color:#4271A2">
<h4>
    schorrmedia.com/m.html<br>
        astrology1234.com<br></h4>
<br>
</div>


<div style="text-align:center; padding-top:1em; font-style:italic; font-size: 120%; color:purple">

Soon another page will appear with a link you'll need to click on.

</div>
<div style="text-align:center; padding-top:1em; font-style:italic; font-size: 92%; color:purple">Only errors 400, 404, 408, 409 are reported.
</div>
<p> &nbsp; </p><p>   &nbsp;</p>
</body>

<head>
<meta http-equiv="Cache-Control" content="no-cache" >
<meta http-equiv="Pragma" content="no-cache" >
<meta http-equiv="Expires" content=0 >
</head>

</html>
