<!DOCTYPE html
      PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en-US">
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="http://schorrmedia.com/favicon.png">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />


<title>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &ensp;&ensp;&emsp;&emsp;&emsp;&emsp;&ensp;Welcome to LinkCheck</title>

</head>

<body>

<h1 style="text-align:center; padding-top:1em;">
Welcome to LinkCheck</h1>

<div style="text-align:center; font-style:bold; color: #377ba8;">
    This app is not meant for large websites.  <br>
    The larger the website the longer it takes.<br> &emsp;<br>
    You must keep this window open <br>
    and in front in order for the program to complete.
</div>


<form action="indexn" method ="POST">
<div style="padding-left:5em;padding-top:2em;" >
Enter website or webpage<br>
you want to LinkCheck here<br>
(no http prefix needed)  http://
<input type="text" size="25" name="name"><br>
</div><div style="padding-left:15em;  padding-top:10px;padding-bottom:6px;">
<input type="submit" value="Submit" style="min-width:19em">

    </div>
</form>



<div style="text-align:center; padding-top:2em; font-style:italic; font-size: 100%; color:red">
Don't put this window behind other windows or minimize. </div>

<div style="text-align:center; padding-top:1em; font-weight: bolder; font-size: 150%; color:red">
Keep this window in front.</div>
<div style="text-align:center; padding-top:1em; font-style:italic; font-size: 120%; color:purple">

Soon another page will appear with a link you'll need to click on.

</div>
<div style="text-align:center; padding-top:1em; font-style:italic; font-size: 92%; color:purple">Only errors 400, 404, 408, 409 are reported.
</div>
<p> &nbsp; </p><p>   &nbsp;</p>
</body>

<head>

<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
</head>



</html>
