<!doctype html>
<html>
    <head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>   <!---------jquery start---------------->
var locroot = location.origin;
var locrootdir = locroot.concat("/static/");
var cname = '{{ name }}';
var wholeurl = locrootdir.concat(cname);

$.when( $.ready ).then(function() {
  $("#includedContent").load(wholeurl).attr('href');
});


</script>

        <title>Results</title>
</head>
<body>






<h2>Results</h2>

<p></p>
Here are the broken links. If nothing follows, then no broken links found, or results not ready yet.



<p></p>
<script>

var n = {{name}}
document.write("passed in value: ")
document.write(n)


</script>
     <div id="includedContent">


     </div>



<p></p>


<p></p>
<a href='/static/{{ name }}'>Click here if nothing shows up yet</a>




</body>
</html>