<!doctype html>
<html>
    <head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>   <!---------jquery start---------------->
var locroot = location.origin;
var locrootdir = locroot.concat("/static/");
var cname = '{{ name }}';
var wholeurl = locrootdir.concat(cname);

$.when( $.ready ).then(function() {
  $("#includedContent").load(wholeurl);
});


</script>

        <title>Results from LinkCheck</title>
</head>
<body>

<h2> Here are the broken links:</h2>

Filename:

<p></p>

     <div id="includedContent"></div>






<p></p>




</body>
</html>