<!doctype html>
<html>
    <head>
        <title>Results from LinkCheck</title>







        </head>
   <body>

   <h2> Here are the broken links:</h2>

    Filename:

<p></p>


{{ name }}


location.origin:  <br>
<script type="text/javascript">

   document.write(location.origin);

</script>


<p></p>

<script type=text/javascript>
var troot = location.origin;
var wstat = troot.concat("/static/");
var cname = '{{ name }}';
var myurl = wstat.concat(cname);

document.write("<p></p>myurl: ");
document.write(myurl);
</script>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

$("button").click(function(){
    $("#div1").load(myurl);
});

</script>

<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>
<button>Get External Content</button>





</body>


</html>