<!doctype html>
<html>
    <head>
        <title>Results from Linkcheck</title>

        </head>
   <body>
<p>
   <h2> Here are the broken links:</h2>
</p>
<p>
</p>
<p>


</p>
{% for item in answers %}
 {{ item[0] }}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;{{ item[1] }}  <br>
&nbsp;&nbsp;&nbsp;&nbsp;FOUND ON: <a href="{{ item[2] }}">{{item[2]}}</a>
<p> </p>
{% endfor %}

</p>


<!--<p>-->
<!--{% autoescape false %}-->

<!--<table border=1 cellspacing="1" cellpadding="1" |safe >-->
  <!--<tr>-->
    <!--<th>Link</th>-->
    <!--<th>Error</th>-->
    <!--<th>Parent</th>-->
  <!--</tr>-->

<!--{% for item in answers %}-->
    <!--<TR>-->
        <!--<TD >{{item |safe }}</TD>-->
    <!--</TR>-->

<!--{% endfor %}-->

<!--</table>-->
<!--{% endautoescape %}-->

</body>


</html>